/* css for myErp
written by Tom Kimani */

body {
padding-top: 20px;
padding-bottom: 40px;
}

.container{
	width: 960px;
}
.row{
	border: 2px solid #FBB9FF;
	overflow-y: auto;
	overflow-x:hidden; 

}
.row1{
	height: 450px;
	margin-bottom: 10px;
}
.row2{
	height: 300px;
}
