.table td{ 
	display: table;
    margin-right:3px;	 
}
.row { 
	display: table-row; 
}
.cell {
	min-width:100px;
	border:solid 1px #C3C3C3;
	display: table-cell;
	text-align:left; 
}

.numbercell{
	min-width:100px;
	border:solid 1px #C3C3C3;	
	display: table-cell;
	text-align: right;
}

.numberingcell{
	min-width:20px;
	border:solid 1px #C3C3C3;	
	display: table-cell;
	text-align: right;
}

.footernumberingcell{
	min-width:20px;
	border:1px #C3C3C3;
	border-color:none;	
	display: table-cell;
	text-align: right;	
}

.footercell{
	display:table-cell;
	border:1px;
	border-color:none;
	min-width:100px;
	text-align:left;
}

.footernumbercell{
	display:table-cell;
	border:1px;
	border-color:none;
	min-width:100px;
	text-align:right;
	border-bottom: 3px double;	
}

.qtycell{
	width:50px;
	border:solid 1px #C3C3C3;
	display: table-cell;
	text-align:center;
}

.qtynumbercell{
	width:50px;
	border: solid 1px #C3C3C3;
	display: table-cell;
	text-align:right;
}

.numberfield{
	text-align:right;
}

.popupPanel{
	width:150;
	height:400;
	border:solid 1px;
}

.headerDoc{
	/*position: relative;*/
	height:500px;
	width:100%;
}
